
/**
 * Responsive footer.
 */
.footer.main {
  .footer-content {
    background-color: #009fe4;
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding-right: 2.5rem;

    .name {
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      width: 100%;

      a {
        text-wrap: nowrap;
		  text-decoration: none;

        .emph {
            font-weight: bold;
        }
      }
    }

    .top {
		background-color: var(--wine-red);
    }

    .top a {
      display: block;
      color: transparent;
      width: 2.5rem;
      height: 2.5rem;
      background-image: url('images/back-top.svg');
		background-repeat: no-repeat;
		background-position: center center;
	  background-size: 1.5rem 1.5rem;
    }
  }
}
