
/**
 * Main page header navigation. This is a fairly complex
 * responsive component that is designed to work on mobile
 * and desktop views without JavaScript.
 */

// Header is white only on the front page
.home .header.main {
  background-color: var(--white);

	#site-name a {
	 	color: var(--purple);
	}
}

.header.main {
  padding: 2rem var(--padding-page-content-h);

  h1#site-name {
    font-size: 2rem;
    line-height: 2.2rem;
    margin: 0;
  }
  #site-name a {
    color: var(--white);
    letter-spacing: 0.1em;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: var(--font-weight-bolder);
  }

  #logo {
    float: right;

    img {
      width: 12rem;
      height: auto;
    }
  }

  #main-menu .menu {
    padding: 0;
    margin: 0;
    display: flex;

    font-size: var(--font-size-md);

    li {
      padding-right: 2em;
      list-style-type: none;

      a {
        color: var(--wine-red);
        text-decoration: none;
        font-weight: var(--font-weight-bolder);
        font-family: var(--font-family-headings);
      }
    }
  }
}


