
.page-content.index-page {
	.unit-chapter-list {
		margin-bottom: $space-xl;

		h3 {
			font-size: $font-size-md;
			line-height: 1.5em;
			margin: 0;
			padding-top: $space-sm;

			a {
				color: var(--wine-red);
				text-decoration: none;
			}
		}

		ul.source-list {
			list-style-type: none;
			padding: 0;
			margin: 0;

			a {
				color: var(--blue-dark);
				text-decoration: underline;
				font-weight: 500;
				font-size: $font-size-sm;
			}
		}
	}
}
