main#content {
	padding: 2em var(--padding-page-content-h) 0;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

body.home main#content {
	padding-top: 2rem;
}

.page-content {
	width: 100%;
	height: 100%;
	flex: 1 0 auto;

	background-color: var(--white);
}


.unit-header {
	display: flex;
	justify-content: space-between;
	background-color: var(--purple);
	padding: $space-sm calc(var(--padding-content-h) / 4) $space-sm;

	.unit-index-page a {
		color: var(--white);
		text-decoration: none;
	}
}

.unit-title a {
	font-family: var(--font-family-nav), sans-serif;
	color: var(--white);
	text-decoration: none;
}

.unit-title {
	position: relative;
}

.unit-header .unit-title .unit-number {
	font-weight: bold;
	color: var(--blue);

	&::after {
		content: ")";
	}
}

.unit-content {
	padding: 0 var(--padding-content-h);

	.post-excerpt {
		font-size: 1.2em;
		line-height: 1.8rem;
		margin-bottom: $space-lg;
	}
}

.post-header {
	position: relative;
}

.post-header .unit-chapter-number {
	font-size: 2rem; // same as h1
	line-height: 2.2rem; // same as h1
}

// Chapter number next to the chapter title.
.unit-chapter-number {
	text-align: right;
	font-weight: bold;
	color: var(--blue);
	position: absolute;
	width: calc(var(--padding-content-h) - #{$space-md});
	right: 100%;
	padding-left: $space-md;
	margin-right: $space-md;

	&:after {
		content: ")";
	}
}

.post-title {
	color: var(--purple);
}

// Styling for HTML inside posts body.
.post-body {
	//font-size: 1.0rem;
	//line-height: 1.5rem;
	//font-width: 400;

	h2 {
		color: var(--wine-red);
		font-size: 1.2em;
		line-height: 1.5rem;
		margin: 0;
	}

	p.intro {
		font-size: 1.2em;
		line-height: 1.8rem;
	}

	img {
		max-width: 100%;
		width: auto;
		height: auto;
	}
}

// List of sources at the bottom of a post.
.post-sources {
	padding-bottom: $space-xl;

	h2 {
		margin: 0;
	}

	ul {
		list-style: none;
		padding-left: 0;
		margin: 0;
	}

	li {
		margin-bottom: 0.5rem;
	}

	a {
		color: var(--blue-dark);
	}
}

// Next chapter link
.next-chapter {
	margin: $space-md;
	font-size: $font-size-sm;
	float: right;

	.label-inline {
		font-weight: var(--font-weight-bolder);
	}

	a {
		color: var(--blue-dark);
		text-decoration: underline;
		font-weight: 500;
	}
}

// Source shortcode styles
.source-shortcode-wrapper {
	display: flex;
	position: relative;
	margin: $space-lg 0;
	width: 100%;
	min-height: max(3rem, 4vw);
	background-color: #9c3267;
	color: var(--white);

	details {
		width: 100%;
	}

	.source-icon {
		background-color: #10a7e6;
		position: absolute;
		right: 100%;
		width: min(5rem, var(--padding-content-h));
		height: auto;
	}

	a {
		color: #fff042;
	}

	h2.source-title {
		color: var(--white);
		padding: $space-sm;
	}

	h3.field-label {
		color: var(--white);
		margin: 0;
	}

	.source-teaser,
	.source-description {
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-reg);
		padding: $space-sm;
	}


	// Hide the details disclosure arrow:
	summary {
		list-style: none;
		cursor: pointer;
	}

	summary::-webkit-details-marker {
		display: none;
	}

	details[open] summary .source-featured-image {
		max-height: unset;
	}

	.source-featured-image {
		float: right;
		max-height: 10rem;
		overflow: hidden;
		// This pulls the image over to align with the content container.
		margin-right: calc(-1 * var(--padding-content-h));

		img {
			width: 10rem;
			height: auto;
		}

		h3 {
			display: none;
		}
	}

	.source-shortcode-details {
		font-size: var(--font-size-sm);
		padding: $space-sm;

		.label-inline {
			float: left;
		}
	}

	@media(min-width: $breakpoint-tablet) {
		.source-featured-image {
			img {
				width: 20rem;
			}
		}
	}
}
