main#content {
	padding: 2em var(--padding-page-content-h);
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

body.home main#content {
	padding-top: 2rem;
}

.page-content {
	width: 100%;
	height: 100%;
	flex: 1 0 auto;

	background-color: var(--white);
}


.unit-header {
	background-color: var(--purple);
	padding: $space-sm 4.5rem $space-sm;
}

.unit-title a {
	font-family: var(--font-family-nav), sans-serif;
	color: var(--white);
	text-decoration: none;
}

.unit-header .unit-title .unit-number {
	margin-left: calc(-1 * (var(--padding-content-h) / 2));
	color: var(--blue);
}

.unit-header .unit-title .unit-number::after {
	content: ") ";
}

.unit-content {
	padding: 0 var(--padding-content-h);
}

.unit-chapter-number {
	//text-align: right;
	font-size: 2rem; // same as h1
	line-height: 2.2rem; // same as h1
	font-weight: bold;
	color: #009fe4;
	display: block;
	float: left;
	margin-left: calc(-1 * (var(--padding-content-h) / 2));

	&:after {
		content: ") ";
	}
}

.post-title {
	color: var(--purple);
}

.post-body {
	font-size: 0.9rem;

	h2 {
		color: var(--wine-red);
		font-size: 1.2em;
		line-height: 1.5rem;
		margin: 0;
	}

	p.intro {
		font-size: 1.2em;
		line-height: 1.8rem;
	}

	img {
		max-width: 100%;
		width: auto;
		height: auto;
	}
}

.post-sources {
	padding-bottom: $space-xl;

	h2 {
		margin: 0;
	}
	ul {
		list-style: none;
		padding-left: 0;
		margin: 0;
	}
	li {
		margin-bottom: 0.5rem;
	}
	a {
		color: var(--blue-dark);
	}
}

.next-chapter {
	margin: $space-md;
	font-size: $font-size-sm;
	float: right;
	.label-inline {
		font-weight: var(--font-weight-bolder);
	}
	a {
		color: var(--blue-dark);
		text-decoration: underline;
		font-weight: 500;
	}
}

.source-shortcode-wrapper {
	display: flex;
	position: relative;
	margin: $space-lg 0;
	width: 100%;
	min-height: max(3rem, 4vw);

	details {
		width: 100%;
	}

	.source-icon {
		background-color: #10a7e6;
		position: absolute;
		right: 100%;
		width: var(--padding-content-h);
		height: auto;
	}

	background-color: #9c3267;
	color: var(--white);
	a {
		color: #fff042;
	}
	h2.source-title {
		color: var(--white);
		padding: $space-sm;
	}
	h3.field-label {
		color: var(--white);
		margin: 0;
	}

	.source-teaser,
	.source-description
	{
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-reg);
		padding: $space-sm;
	}


	// Hide the details disclosure arrow:
	summary {
		list-style: none;
		cursor: pointer;
	}
	summary::-webkit-details-marker {
		display: none;
	}

	details[open] summary .source-featured-image {
		max-height: unset;
	}

	.source-featured-image {
		float: right;
		max-height: 10rem;
		overflow: hidden;
		// This pulls the image over to align with the content container.
		margin-right: calc(-1 * var(--padding-content-h));

		img {
			width: 10rem;
			height: auto;
		}

		h3 {
			display: none;
		}
	}

	.source-shortcode-details {
		font-size: var(--font-size-sm);
		padding: $space-sm;

		.label-inline {
			float: left;
		}
	}

	@media(min-width: $breakpoint-tablet) {
		.source-featured-image {
			img {
				width: 20rem;
			}
		}
	}
}
