
.source-content,
.source-chapter-list
{
	padding: 0 2rem;
}

h3.field-label {
	color: var(--black);
	padding-top: 0.5em;
	font-weight: bold;
	margin-bottom: 0;
	font-size: 1rem;
}

.source-teaser {
	font-weight: var(--font-weight-bolder);
	font-size: 1rem;
}

.source-description {
	font-size: 1rem;
}

.source-chapter a {
	padding-left: $space-xl;
	background-image: url(images/arrow.png);
	background-repeat: no-repeat;
	background-position: 0 7px;
	text-decoration: underline;
}
