
.unit-list .unit-item {

	background-color: var(--white);
	border-left: 3rem solid var(--wine-red);
	padding: 0 0 $space-lg $space-lg;

	display: grid;
	grid-template-areas: "title" "teaser" "image";
	grid-column-gap: $space-md;

	margin-bottom: $space-xl;

	.unit-title {
		grid-area: title;

		h2 {
			font-size: 1.1rem;
			line-height: 1.3em;
			margin-top: 0.5em;
			text-indent: -50px;
		}

		h2:first-letter {
			color: #fff;
			padding-right: 35px;
		}
	}

	.unit-teaser {
		grid-area: teaser;

		font-size: var(--font-size-sm);
		font-family: var(--font-family-text), serif;
		line-height: 1.4em;
		font-weight: 400;
	}

	.unit-featured-image {
		grid-area: image;
		width: 100%;
		height: 10rem;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

@media(min-width: $breakpoint-tablet) {
	.unit-list .unit-item {
		grid-template-areas: "title image" "teaser image";
		grid-template-rows: min-content 1fr;

		.unit-featured-image {
			width: 20rem;
			height: 15rem;
		}
	}
}

.page-content.unit {
	--padding-content-h: max(3rem, 15vw);

	display: flex;
	flex-direction: column;
	background-color: var(--white);

	// Apply a padding to main sections
	.unit-content,
	.unit-header
	{
		padding: 0 var(--padding-content-h); // we leave room here for the chapter numbers
	}

	.unit-header {
		padding-top: $space-lg;
		padding-bottom: $space-xl;
		margin-bottom: $space-md;
		margin-top: 0;
		color: var(--white);


		// Shift the title over to the left so that only the text
		// after the number aligns with main text
		@media(min-width: $breakpoint-tablet) {
			//padding-left: calc(10vw);
		}
	}

	@media (min-width: $breakpoint-tablet) {
		.unit-content,
		.unit-header
		{
			//padding: $space-md 10vw;
		}
	}

	.unit-content {
		padding-top: $space-md;
		margin-bottom: auto;
		font-size: 1.2em;
	}

	.unit-title,
	.unit-chapter-title {
		position: relative;
	}

	.unit-number,
	.unit-chapter-number {
		// The unit number sits in the left margin, so it's
		// absolutely positioned next to the title, with a
		// width slightly smaller than the content padding
		// aligned to the right.
		position: absolute;
		width: calc(var(--padding-content-h) - #{$space-md});
		right: 100%;
		text-align: right;
		margin-right: $space-md;
		text-wrap: nowrap;
	}

	// Chapter number size set to page heading, so unset it here for listings
	.unit-chapter-number {
		//font-size: unset;
		//line-height: unset;
	}

	.unit-chapter-title a {
		color: var(--wine-red);
		text-decoration: none;
		font-size: 1.3rem;
		line-height: 1.4rem;
	}

	.unit-chapter-number {
		color: var(--blue);
	}

	.unit-featured-image {
		width: 100%;
		height: auto;
		overflow: hidden;

		img {
			width: 100%;
			vertical-align: bottom;
		}
	}
}
